* {
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

nav {
    position: fixed;
    width: 100%;
    height: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 5;
}

.buttons ul {
    float: right;
    position: fixed;
    top: 90px;
    border: 2px solid white;
    right: -100%;
    z-index: 10;
    height: calc(100vh - 94px);
    width: 200px;
    text-align: center;
    background: black;
    transition: 0.7s ease-in-out;
}

.buttons ul li {
    display: block;
    border: none;
    margin: 20px 10px;
    text-decoration: none;
}

.buttons li button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 19px;
    background: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}

.buttons button:hover,
.buttons button.active {
    border-top: 2px solid rgb(223, 176, 22);
    color: rgb(223, 176, 22);
    cursor: pointer;
}

#check:checked~.buttons ul {
    right: 0;
}

#name {
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: 'Crimson Text', serif;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    margin-top: 30px;
    margin-right: 80px;
    cursor: pointer;
    /* display: none; */
}

@media(max-width: 700px) {
    .checkbtn {
        margin-right: 20px;
    }
}

.start {
    width: 100%;
    height: 100vh;
    background: url("images/pic for my profile background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1s ease-in-out;
}

@media(max-width: 1080px) {
    .start {
        background: url("images/pic for my profile background for mobile.jpg") no-repeat center center;
        background-color: rgba(0, 0, 0, 0.942);
        background-size: contain;
    }
}

#gs {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.942);
    color: white;
    display: inline-block;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
    border: 2px solid white;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

#gs:hover {
    cursor: pointer;
    border: 2px solid rgb(223, 176, 22);
    color: rgb(223, 176, 22);
    box-shadow: 0 0 10px rgb(223, 176, 22), 0 0 40px rgb(223, 176, 22), 0 0 80px rgb(223, 176, 22);
}

#aboutme {
    background-color: rgb(204, 11, 85);
    height: 100%;
    min-height: 100vh;
    transition: 0.7s ease-in-out;
    display: none;
    z-index: 1;
    color: rgb(4, 2, 110);
}

#aboutme h2,
#skill h2 {
    text-transform: uppercase;
    font-family: 'Balsamiq Sans', cursive;
}

#aboutme a {
    color: rgb(3, 2, 87)
}

.intro {
    padding-left: 20px;
    padding-top: 110px;
}

.intro p,
.contact p {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}

.portfolio {
    padding: 20px;
}

.portfolio ul li {
    display: inline;
}

.portfolio img {
    width: 300px;
    height: auto;
    margin: 20px 20px 0 0;
    padding: 5px;
    border: 2px solid black;
}

#skill {
    min-height: 100vh;
    width: calc(100% - 20px);
    display: none;
    padding-left: 20px;
}

#skill svg {
    width: 80px;
    height: auto;
    margin: 20px 30px;
}

#s1 {
    padding-top: 110px;
}

.svgs {
    width: 95%;
}

.contact {
    width: 80%;
    padding-bottom: 30px;
}

#number {
    color: rgb(56, 32, 124);
}

#anime {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: black;
    display: none;
    z-index: 50;
}

#anime video {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translateX(-30%) translateY(-50%);
    object-fit: contain;
}

#anime h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5em;
    letter-spacing: 0.2em;
}

#anime h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1.5s linear forwards;
}

@media(max-width: 700px) {
    #anime h1 span {
        animation: animate 1.5s linear forwards;
    }
    #anime h1 {
        letter-spacing: 0.05em;
        font-size: 4em;
    }
    #anime h1 span:nth-child(1) {
        animation-delay: 0s;
    }
    #anime h1 span:nth-child(2) {
        animation-delay: 0.25s;
    }
    #anime h1 span:nth-child(3) {
        animation-delay: 0.75s;
    }
    #anime h1 span:nth-child(4) {
        animation-delay: 1s;
    }
    #anime h1 span:nth-child(5) {
        animation-delay: 1.5s;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
        filter: blur(0);
    }
}

#anime h1 span:nth-child(1) {
    animation-delay: 1.5s;
}

#anime h1 span:nth-child(2) {
    animation-delay: 2.75s;
}

#anime h1 span:nth-child(3) {
    animation-delay: 3.25s;
}

#anime h1 span:nth-child(4) {
    animation-delay: 3.75s;
}

#anime h1 span:nth-child(5) {
    animation-delay: 4s;
}

#footer {
    background-color: black;
    color: green;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0.5px solid white;
    margin-right: 10px;
    padding: 5px;
    z-index: 100;
}